html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.b {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
}
.box {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
.pack-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}
.align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
}
.a {
  position: absolute;
}
.r {
  position: relative;
}
.def {
  -webkit-tap-highlight: rgba(0, 0, 0, 0);
  -moz-tap-highlight: rgba(0, 0, 0, 0);
  -ms-tap-highlight: rgba(0, 0, 0, 0);
  -o-tap-highlight: rgba(0, 0, 0, 0);
  tap-highlight: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.flow {
  overflow: hidden;
}
.inputdel {
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.wrap section {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ededed;
}
button {
  display: block;
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  background: #FFAF05;
  border: none;
  font-size: 2rem;
  color: #fff;
}
header {
  width: 100%;
  height: 4rem;
  background: #FFAF05;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  line-height: 0;
  line-height: 4rem;
}
header a {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 3.5rem;
  font-size: 2.8rem;
  color: #fff;
  font-weight: bold;
}
.left_a {
  margin-left: .3rem;
  float: left;
}
.right_a {
  float: right;
  margin-right: 0.8rem;
}
.user {
  width: 100%;
  height: 15rem;
  background: url(../images/b.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 2rem;
  overflow: hidden;
}
.user > dl {
  width: 100%;
  text-align: center;
}
.headp {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0rem auto .5rem auto;
}
.mes {
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.mes > .name {
  font-size: 1.6rem;
}
.dump {
  width: 100%;
}
.dump > ul > li {
  width: 100%;
  line-height: 4.4rem;
  height: 4.4rem;
  border-bottom: 1px solid #ccc;
}
.l {
  float: right;
  display: inline-block;
  margin-right: 0.5rem;
}
.l > b {
  font-size: 1.6rem;
}
.p {
  margin-left: .5rem;
  display: inline-block;
  font-size: 1.4rem;
}
.p > b {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
}
.btn {
  width: 100%;
}
.btn button {
  width: 12.5rem;
  height: 3.4rem;
  display: inline-block;
  margin-left: .4rem;
  margin-top: .5rem;
  border: none;
}
.messe {
  background: #FFAF05;
  color: #ffffff;
}
.out {
  color: #FF9000;
  background: #ffffff;
}
img {
  width: 100%;
  height: 100%;
}
.cont_2 {
  background: #fff;
  top: 100%;
}
.cont_2 header > a {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  margin: 1rem;
}
.cont_2 .list {
  background: url(../images/list.png) no-repeat;
  background-size: 100% 100%;
  float: left;
}
.cont_2 .search {
  width: 66%;
  height: 2.8rem;
  background: #fff;
  border-radius: .5rem;
  float: left;
  margin-left: .8rem;
  margin-top: .6rem;
  position: relative;
}
.cont_2 .search > span {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: url(../images/sea.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: .3rem;
  top: 0.35rem;
}
.cont_2 .search > input {
  width: 14rem;
  height: 2.8rem;
  position: absolute;
  left: 3.3rem;
  border: none;
}
.cont_2 .mess {
  background: url(../images/mes.png) no-repeat;
  background-size: 100% 100%;
  float: right;
}
.cont_2 .cont2 {
  width: 100%;
  position: absolute;
  top: 4.5rem;
  bottom: 4rem;
  overflow: hidden;
}
.cont_2 .tittle {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  position: relative;
}
.cont_2 .tittle h1 {
  width: 28%;
  line-height: 4rem;
  float: left;
  margin: 0 2.9rem;
  font-size: 2rem;
  color: #666;
  font-weight: normal;
}
.cont_2 .tittle p {
  position: absolute;
  bottom: -1px;
  width: 50%;
  height: .2rem;
  background: #FFAF05;
  left: 0%;
  -webkit-transition: all 0.3s ease-in-out;
}
.cont_2 .tittle h1.curh {
  color: #FFAF05;
}
.cont_2 .active {
  width: 100%;
  height: 7.3rem;
  background: #fff;
}
.cont_2 .active dl {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.cont_2 .active dl dt {
  width: 5.3rem;
  height: 5.3rem;
  margin: 1rem 1.5rem;
}
.cont_2 .active dl dd {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  padding: 1rem 2rem;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  position: relative;
}
.cont_2 .active dl dd p {
  line-height: 1.4rem;
  font-size: 1.3rem;
}
.cont_2 .active dl dd span {
  display: block;
  width: 6rem;
  height: 2rem;
  border-radius: 3px;
  background: #FFAF05;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 2rem;
}
.cont_2 .tabs > div {
  display: none;
}
.cont_2 .tabs > div.show {
  display: block;
}
.cont_2 .yu {
  width: 100%;
  height: 7.3rem;
  background: #fff;
}
.cont_2 .yu div {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #F9A986;
  float: left;
  margin: 1rem .5rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  padding-top: 1.8rem;
}
.dian {
  width: 100%;
  margin-top: .5rem;
  background: #fff;
}
.go {
  width: 100%;
  height: 3rem;
  border-bottom: #cccccc 1px solid;
}
.go h1 {
  width: 100%;
  line-height: 3rem;
  font-size: 1.6rem;
}
.go h1 span {
  display: block;
  width: .3rem;
  height: 2rem;
  margin: .5rem 1.5rem .5rem 1rem;
  background: #FFB900;
  float: left;
}
.shopping {
  width: 100%;
  margin-top: 0.5rem;
}
.shopping dl {
  float: left;
  margin-left: 1rem;
}
.shopping dl dt {
  width: 7.6rem;
  height: 6.6rem;
}
.shopping dl dd {
  width: 7.6rem;
  text-align: center;
  line-height: 2rem;
}
.shopping .arr {
  width: 4.5rem;
  height: 2rem;
  margin: 0 auto;
}
.shopping .arr li {
  width: .5rem;
  height: .5rem;
  float: left;
  border-radius: 50%;
  background: #ccc;
  margin: .5rem;
}
.shopping .arr li.yellow {
  background: #ffaf05;
}
.business {
  width: 100%;
  margin-top: .5rem;
  background: #fff;
}
.bus_p {
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
}
.pr {
  width: 100%;
  margin-top: 0.5rem;
}
.pr .man {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px #ccc solid;
  float: left;
  margin: 0 .5rem;
  margin-top: .7rem;
}
.pr .price {
  float: left;
}
.pr .price p {
  line-height: 1.4rem;
}
.pr .price h1 {
  font-weight: normal;
  margin-top: 0.4rem;
}
.pr .shou {
  width: 5rem;
  height: 3rem;
  float: right;
  border: 1px #ccc solid;
  margin-right: 0.5rem;
}
.bigp {
  width: 20rem;
  height: 15rem;
  border: #F2F2F2 1px solid;
  float: right;
  background: #F2F2F2;
  margin-right: 1rem;
  margin-top: .5rem;
}
.foot {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4rem;
  background: #F9F9F9;
  border-top: 1px #cccccc solid;
}
.foot ul {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}
.foot ul li {
  width: 25%;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}
.foot ul li > dl {
  width: 3rem;
  height: 4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
}
.foot ul li > dl > dt {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  width: 2.5rem;
  height: 2.5rem;
}
.foot ul li > dl > dd {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.cont_3 {
  background: #ECECEC;
  top: 200%;
}
.cont3 > p {
  width: 100%;
  line-height: 4rem;
  margin-top: 1rem;
}
.cont3 p input,
.cont7 p input {
  width: 100%;
  height: 4rem;
  border: none;
  text-indent: .5rem;
  font-size: 1.6rem;
}
.ti {
  font-size: 1.2rem;
}
.cont3 h1 > input {
  margin: 0 .6rem;
}
.cont3 h1 {
  font-size: 1.2rem;
  font-weight: normal;
}
.cont_4 {
  top: 300%;
  background: #ECECEC;
}
.cont4 h1,
.cont5 h1,
.cont7 h1 {
  width: 100%;
  line-height: 3rem;
  font-weight: normal;
  font-size: 1.4rem;
  color: #666;
  text-indent: .8rem;
}
.cont4 > p > input {
  width: 96%;
  height: 4rem;
  border: #ccc 1px solid;
  display: block;
  margin: 0 auto;
}
.cont4 > .bphone > input,
.cont7 > .bphone > input {
  margin: 0;
  width: 75%;
  border: none;
  float: left;
  text-indent: .5rem;
  font-size: 1.4rem;
}
.cont4 > .bphone > button,
.cont7 > .bphone > button {
  display: block;
  float: left;
  width: 25%;
  height: 4rem;
  background: #fff;
  color: #FFAF05;
  font-size: 1.2rem;
  border-left: 1px solid #cccccc;
}
.cont4 h2 {
  width: 100%;
  font-size: 1.6rem;
  font-weight: normal;
  color: #666;
  line-height: 3rem;
  text-indent: 0.8rem;
}
.same {
  position: absolute;
  top: 4rem;
  bottom: 0;
  width: 100%;
}
.cont_5 {
  top: 400%;
  background: #ECECEC;
}
.cont5 p {
  width: 100%;
  height: 4rem;
  background: #fff;
  font-size: 1.6rem;
  line-height: 4rem;
  text-indent: .5rem;
  margin-top: 1rem;
}
.cont5 p span {
  display: block;
  float: right;
  color: #ccc;
  font-size: 2rem;
  margin-right: .5rem;
}
.cont_6 {
  top: 500%;
}
.cont6 p {
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
}
.cont6 p span {
  width: 25%;
  height: 4rem;
  background: #fff;
  display: block;
  float: left;
  letter-spacing: .2rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.4rem;
}
.cont6 p input {
  display: block;
  width: 75%;
  height: 4rem;
  border: none;
  float: left;
  font-size: 1.4rem;
  text-indent: .5rem;
}
.hidden {
  visibility: hidden;
}
.cont_7 {
  top: 600%;
}
.cont7 p {
  width: 100%;
  height: 3rem;
}
/*--------------生活帮*/
.lifeone {
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  top: 700%;
}
.lifeone header > a {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  margin: 1rem;
}
.lifeone .list {
  background: url(../images/mes.png) no-repeat;
  background-size: 100% 100%;
  float: left;
}
.lifeone .search {
  width: 66%;
  height: 2.8rem;
  background: #fff;
  border-radius: .5rem;
  float: left;
  margin-left: .8rem;
  margin-top: .7rem;
  position: relative;
}
.lifeone .search > span {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: url(../images/sea.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: .3rem;
  top: 0.35rem;
}
.lifeone .search > input {
  width: 14rem;
  height: 2.8rem;
  position: absolute;
  left: 3.3rem;
  border: none;
}
.lifeone .mess {
  background: url(../images/dump.png) no-repeat;
  background-size: 100% 100%;
  float: right;
}
.lifeone .life_count1 {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  background: #ECECEC;
}
.lifeone .life_count1 .adrs {
  width: 100%;
  height: 2rem;
  background: #fff;
  line-height: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  text-indent: .5rem;
}
.lifeone .life_count1 .adrs span {
  display: block;
  width: 1.5rem;
  height: .8rem;
  margin-left: .5rem;
}
.lifeone .life_count1 .lovelife {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  background: #fff;
  margin-top: 1rem;
}
.lifeone .life_count1 .lovelife p {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  height: 3rem;
  border: 1px #ccc solid;
}
.lifeone .life_count1 .lovelife p a {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  color: #888888;
  font-size: 1.4rem;
  line-height: 3rem;
}
.lifeone .life_count1 .lovelife p .cura {
  color: #FFAF05;
}
.lifeone .life_count1 .lovelife .product {
  width: 100%;
  height: 10.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  border-bottom: 1px solid #ccc;
  padding-top: .4rem;
}
.lifeone .life_count1 .lovelife .product .log {
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  margin: .3rem;
}
.lifeone .life_count1 .lovelife .product .productinfo {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  overflow: hidden;
  height: 9.5rem;
}
.lifeone .life_count1 .lovelife .product .productinfo h2 {
  width: 100%;
  height: 1.4rem;
  line-height: 1.4rem;
  color: #333;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  position: relative;
}
.lifeone .life_count1 .lovelife .product .productinfo h2 i {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 .5rem;
}
.lifeone .life_count1 .lovelife .product .productinfo h2 span {
  position: absolute;
  right: 0rem;
  font-size: 1.2rem;
  color: #999;
  font-weight: normal;
}
.lifeone .life_count1 .lovelife .product .productinfo dl {
  width: 100%;
  height: 5.2rem;
  background: #ECECEC;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}
.lifeone .life_count1 .lovelife .product .productinfo dl dt {
  width: 4.4rem;
  height: 4.4rem;
  margin: .4rem;
}
.lifeone .life_count1 .lovelife .product .productinfo dl dd {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  line-height: 1.4rem;
  color: #666;
}
.lifeone .life_count1 .lovelife .product .productinfo h4 {
  font-size: 1.2rem;
  color: #999;
  line-height: 1.6rem;
  font-weight: normal;
}
.lifeone .life_count1 .lovelife .product .productinfo h3 {
  color: #999;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: .2rem;
  position: relative;
}
.lifeone .life_count1 .lovelife .product .productinfo h3 span {
  position: absolute;
  width: 1.4rem;
  height: 1.2rem;
  top: 0;
  right: 0;
}
input {
  border: none;
  outline: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
